@use "tailwindcss";

/* JetBrains Mono - Fonte Regular */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* JetBrains Mono - Fonte Itálica */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Jaro - Fonte Regular */
@font-face {
  font-family: 'Jaro';
  src: url('/assets/fonts/Jaro/Jaro-Regular-VariableFont_opsz.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Fonte padrão: JetBrains Mono */
body {
  font-family: 'JetBrains Mono', monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

/* Scrollbar*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(93, 30, 30, 0.8);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(93, 30, 30, 1);
  background-clip: padding-box;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(93, 30, 30, 0.8) transparent;
}

/* Seleção de texto */
::selection {
  background: rgba(93, 30, 30, 0.8);
  color: white;
}

::-moz-selection {
  background: rgba(93, 30, 30, 0.8);
  color: white;
}



